@font-face {
    font-family: 'GothamBook';
    src: local('GothamBook'), url(GothamBook.ttf) format('truetype');
}
font{
    font-family: "Gotham-Bold", sans-serif;    
}
.ColSubmitSearch ul li a:hover{
    background-color: white;
    border: 1px black solid;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    width: 450px;
    height: 42px;   
    display:table-cell;
    vertical-align: middle;
    border-radius: 2px;
}
.ColSubmitSearch li{    
    padding: 1px 0;    
    display: block;
    border-radius: 2px;
}
.ColSubmitSearch  ul li a{    
    color: white;
    background-color: #58595b;
    text-decoration: none;
    text-transform: uppercase;    
    width: 450px;
    height: 40px;   
    display:table-cell;
    vertical-align: middle; 
    text-align: center;
    border-radius: 2px;
}
.ColSubmitSearch{
    padding-right: 1px;
    margin-right: 1px;
    padding-top: 0;
    margin-top: 0;
    list-style: none;
    overflow: hidden;   
    text-align: center;
    height: 4rem;
    color: white;
    font-size: 11px;
    vertical-align: top;    
}
.MainTitle{
    padding-top: 2%;
    padding-bottom: 0px;
    font-size: 12px;
}
.rowForm{
    padding-bottom: 0px;
    height: 50px;
}
.ColArea{
    padding-bottom: 90px;
    height: 90px;  
}
.horizontal-menu-serviceorder{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;   
    text-align: center;
    height: 45px;
    color: white;
    font-size: 11px;
  }
.horizontal-menu-serviceorder ul li a:hover{
    background-color: white;
    border: 1px black solid;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    width: 450px;
    height: 42px;   
    display:table-cell;
    vertical-align: middle; 
    border-radius: 2px;
}
.horizontal-menu-serviceorder li{    
    padding: 1px 0;    
    display: block;
    border-radius: 2px; 
}
.horizontal-menu-serviceorder  ul li a{    
    color: white;
    background-color: #58595b;
    text-decoration: none;
    text-transform: uppercase;    
    width: 450px;
    height: 40px;   
    display:table-cell;
    vertical-align: middle; 
    text-align: center;
    border-radius: 2px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-size: 11px;
    font-size: 0.6875rem;
    line-height: 16px;
    font-weight: 300;
    text-transform: uppercase;
    width: 80% !important;
}
/* input[type="text"], textarea{
    font-size: 11px;
    font-size: 0.6875rem;
    line-height: 16px;
    font-weight: 300;
    text-transform: uppercase;
    width: 95% !important;
    height: 40px;
    border-radius: 2px;
} */
.CheckProductTBandTextArea{
    font-size: 11px;
    text-transform: uppercase;
    width: 85% !important;
    height: 2.0rem !important;
    border-radius: 2px;

}
textarea{   
    height: 70px !important;
    border-radius: 2px;
}
#tbOther{
    width: 40% !important;
    height: 20px;    
    border: 0px;
    border-bottom: 1px solid black;
    border-radius: 2px;
}

.form-check{
    padding-left: 0px;
}
.form-check-input{
    padding-right: 5px;
    margin-top: 3px;
    width: 15px;
    height: 15px;
    border-radius: 2px;
}
.spancheckbox-inline{   
    vertical-align:top;
    padding-left: 8px;
    padding-top: 1px;
    margin-top: 1px;
    font-size: 11px;
    text-transform: uppercase;
}
.text-lowercase{
    text-transform: lowercase;
}
#CreateServiceOrder{
    text-align: right;
    padding-top: 5px;
}
#CreateServiceOrder .MenuTitle{
    float: right;
}
.CheckProductColItem{
    padding: 1px; 
}
.CheckProductColItemright{
    padding-left: 1px;
    text-align: left;
    margin-left: 1px;
}
.CheckProductColItemleft{
    padding-right: 1px;
    text-align: left;
    margin-right: 1px;
}
.MenuTitle{
    width: 130px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;        
    padding-right: 5px;
    font-size: 11px;
    font-size: 0.6875rem;
    line-height: 16px;
    font-weight: 300;
    vertical-align: middle;
    justify-items: center;
    text-align: right;
    justify-content: center;
}
.gfh-logo{
    height: 20px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
}
.gfh-logo a img{
    height: 20px;
}
.Menu{
    width: 150px;
}
.Menu ul li{
    display: block;
    padding: 10px 0;   
}
.Menu ul li a{ 
    text-transform: uppercase;
    text-decoration: none;
    
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    font-weight: bold;
}
.Menu.left{
    float: left;
    margin-right: 17px;
}
.right{
    float: right;
}
.RowMenu{
    padding-top: 50px;
}