@font-face {
    font-family: 'GothamBook';
    src: local('GothamBook'), url(GothamBook.ttf) format('truetype');
}
font{
    font-family: "Gotham-Bold", sans-serif;
}
.CheckStockAvailable_ColItem {
    padding: 0px;
}
.CheckStockAvailable_ColItemleft{
    padding-left: 15px;
    text-align: left;
    margin-right: 1px;
}
.CheckStockAvailable_IconInTB{
    font-size: 11px;
    margin-top: 0.39rem;
    padding-top: 0px;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
    width: 85% !important;
    height: 1.6rem !important;
    border-radius: 2px;
}
 /* css icon in textbox */
 .CheckStockAvailable_input-icon-wrap {
    border: 1px solid;    
    display: flex;
    flex-direction: row;
    vertical-align: middle;
  }
  .CheckStockAvailable_input-icon {
    background: #ddd;
    vertical-align: middle;
  }
  .CheckStockAvailable_input-with-icon {
    border: none;
    flex: 1;
  }
  .CheckStockAvailable_input-icon, .input-with-icon
  {
    padding: 10px;
    padding-top: 1px;
  }
  .CheckStockAvailable_input-icon a :hover
  {
    text-decoration: none;
    color: black;
    border: none;
  }  
/* end css icon in textbox */
  .CheckStockAvailable_ColSubmitSearch
  {
    padding-right: 1px;
    margin-right: 1px;
    padding-top: 0;
    margin-top: 0;
    list-style: none;
    overflow: hidden;   
    text-align: center;
    height: 4rem;
    color: white;
    font-size: 11px;
    vertical-align: top;  
    border-radius: 2px;
    text-align: left;
}
.CheckStockAvailable_ColSubmitSearch ul li a:hover
{    
    color: black;
    border: 1px black solid;
    background-color: white;
    text-decoration: none;
    text-transform: uppercase;    
    width: 10rem;
    height: 1rem;   
    display:table-cell;
    vertical-align: middle; 
    text-align: center;
    border-radius: 2px;
}
.CheckStockAvailable_ColSubmitSearch li
{    
    padding: 1px 0;    
    display: block; 
    border-radius: 2px; 
}
.CheckStockAvailable_ColSubmitSearch  ul li a
{        
    text-decoration: none;
    text-transform: uppercase;    
    width: 3rem;
    height: 1rem;   
    display:table-cell;
    vertical-align: middle; 
    text-align: center;
    border-radius: 2px; 
}
 /* end css icon in textbox */

.table_display_result table tr th{
    text-align: center;
    font-size: 0.8875rem;
    margin-left:auto; 
        			margin-right:auto;
}
.table_display_result table tr td{
    font-family: 'GothamBook';
    text-align: left;
    font-size: 0.8875rem;
}
.CheckStockAvailColSubmitSearch ul li a:hover{
    background-color: white;
    border: 1px black solid;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    width: 5.5rem;
    height: 1rem;   
    vertical-align: middle; 
    border-radius: 2px; 
}
.CheckStockAvailColSubmitSearch li{    
    padding: 1px 0;    
    display: block; 
    border-radius: 2px; 
}
.CheckStockAvailColSubmitSearch  ul li a{    
    color: white;
    background-color: #58595b;
    text-decoration: none;
    text-transform: uppercase;    
    width: 5.5rem;
    height: 1rem;   
    display:table-cell;
    vertical-align: middle; 
    text-align: center;
    border-radius: 2px; 
}
.CheckStockAvailColSubmitSearch{
    padding-right: 1px;
    margin-right: 1px;
    padding-top: 0;
    margin-top: 0;
    list-style: none;
    overflow: hidden;   
    text-align: center;
    height: 4rem;
    color: white;
    font-size: 11px;
    vertical-align: top;  
    border-radius: 2px;
    text-align: left;
}
.CheckStockAvailrowForm{
    padding-bottom: 0px;
    height: 50px;
}
.CheckStockAvailColContent
{
    padding-top: 0px;
}
.ColArea{
    padding-bottom: 90px;
    height: 90px;  
}
.horizontal-menu-serviceorder{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;   
    text-align: center;
    height: 45px;   

    color: white;
    font-size: 11px;
  }
.horizontal-menu-serviceorder ul li a:hover{
    background-color: white;
    border: 1px black solid;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    width: 450px;
    height: 42px;   

    vertical-align: middle; 
}
.horizontal-menu-serviceorder li{    
    padding: 1px 0;    
    display: block; 
}
.horizontal-menu-serviceorder  ul li a{    
    color: white;
    background-color: #58595b;
    text-decoration: none;
    text-transform: uppercase;    
    width: 450px;
    height: 40px;   
    display:table-cell;
    vertical-align: middle; 
    text-align: center;
}
label {
    display: block;
    margin-bottom: 5px;
    font-size: 11px;
    font-size: 0.6875rem;
    line-height: 16px;
    font-weight: 300;
    text-transform: uppercase;
    width: 80% !important;
}
/* input[type="text"], textarea{
    font-size: 11px;
    font-size: 0.6875rem;
    line-height: 16px;
    font-weight: 300;
    text-transform: uppercase;
    width: 55% !important;
    height: 40px;
} */
textarea{   
    height: 70px !important;
}
#tbOther{
    width: 40% !important;
    height: 20px;    
    border: 0px;
    border-bottom: 1px solid black;
    border-radius: 2px;
}
/* input[type="checkbox"] { 
    width: 5% !important;
    text-align: left;
    padding: 3px;
    border-radius: 2px;
} */
.form-check{
    padding-left: 0px;
}
.form-check-input{
    padding-right: 5px;
    margin-top: 3px;
    width: 15px;
    height: 15px;
}
.spancheckbox-inline{   
    vertical-align:top;
    padding-left: 8px;
    padding-top: 1px;
    margin-top: 1px;
    font-size: 11px;
    text-transform: uppercase;
}
.text-lowercase{
    text-transform: lowercase;
}
#CheckStockAvaliable{
    text-align: right;
    padding-top: 5px;
}
#CheckStockAvaliable .MenuTitle{
    float: right;
}
.CheckStockAvailColItem{
    padding: 15px; 
}
.CheckStockAvailColItemright{
    padding-left: 1px;
    text-align: left;
    margin-left: 1px;
}
.CheckStockAvailColItemleft{
    padding-right: 1px;
    text-align: right;
    margin-right: 1px;
}
.MenuTitle{
    width: 150px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;        
    padding-right: 5px;

    font-size: 0.6875rem;
    line-height: 16px;
    font-weight: 300;
    vertical-align: middle;
    justify-items: center;
    text-align: right;
    justify-content: center;
}
.gfh-logo{
    height: 20px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
}
.gfh-logo a img{
    height: 20px;
}
.Menu{
    width: 150px;
}
.Menu ul li{
    display: block;
    padding: 10px 0;   
}
.Menu ul li a{ 
    text-transform: uppercase;
    text-decoration: none;
    
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    font-weight: bold;
}
.Menu.left{
    float: left;
    margin-right: 17px;
}
.right{
    float: right;
}
