@font-face {
    font-family: 'GothamBook';
    src: local('GothamBook'), url(GothamBook.ttf) format('truetype');
}
font{
    font-family: "Gotham-Bold", sans-serif;    
}
table{
    width: 100%;
}
table tr th{
    text-align: center;
    font-size: 0.5rem;
}
table tr td{
    font-family: 'GothamBook';
    text-align: left;
    font-size: 0.5rem;
}
.CreateServiceOrderrowForm{
    padding-bottom: 0px;
    height: 50px;
}
.CreateServiceOrderColContent
{
    padding-top: 0px;
}
.CreateServiceOrder_table_display_result table tr th{
    text-align: center;
    font-size: 0.8875rem;
    margin-left:auto; 
        			margin-right:auto;
}
.select_control{
    font-family: "Gotham-Bold", sans-serif;
    font-size: 0.6875rem;
    text-transform: uppercase;
}
.CreateServiceOrderbtn-secondary {
    color: #fff;
    background-color: grey;    
    border-color: grey;    
}
.CreateServiceOrderbtn-secondary:visited{
    color:black  !important;
    background-color: white  !important;
    border-color: black  !important; 
}
.CreateServiceOrderbtn-secondary:focus{
    color: #fff;
    background-color: grey;    
    border-color: grey;
}
.CreateServiceOrderbtn-secondary:hover 
{
    color:black  !important;
    background-color: white  !important;
    border-color: black  !important; 
}
.CreateServiceOrderbtn-secondary:active{
    color:black  !important;
    background-color: white  !important;
    border-color: black  !important; 
}
.CreateServiceOrderColItem {
    padding: 0px;
}
.CreateServiceOrderColItemleft{
    padding-left: 15px;
    text-align: left;
    margin-right: 1px;
}
.CreateServiceOrder_buttun{
    font-size: 0.5rem  !important;
    padding-left: 1%;
    padding-right: 1%;
}
.ColContent
{
    padding-top: 0px;
}
.CreateServiceOrderCustNoSearchTB{
    width: 80%  !important;
}
.ModalSearchCustName{
    width: 200%   !important;
    max-width: 200%  !important;
}
.CreateServiceOrderCustNameSearchTB{
    width: 75%  !important;
    height: 1.5rem !important;
    text-transform: none;
}
.CreateServiceOrderTB_Small{
    font-size: 0.6875rem;
    text-transform: uppercase;
    width: 65% !important;
    height: 1.5rem !important;
    border-radius: 2px;
}
.CreateServiceOrderTB_InvoiceLine{
    font-size: 11px;
    font-size: 0.6875rem;
    line-height: 16px;
    font-weight: 300;
    text-transform: uppercase;    
    height: 2.0rem !important;
    border-radius: 2px;
}
.CreateServiceOrderTB_InvoiceLineReadOnly{
    font-size: 11px;
    font-size: 0.6875rem;
    line-height: 16px;
    font-weight: 300;
    text-transform: uppercase;    
    height: 2.0rem !important;
    border-radius: 2px; 
    background-color:lightgray;
}
.CreateServiceOrderTB{
    font-size: 11px;
    font-size: 0.6875rem;
    line-height: 16px;
    font-weight: 300;
    text-transform: uppercase;
    width: 100% !important;
    height: 2.0rem !important;
    border-radius: 2px;
}
.CreateServiceOrder_Other_TB{
    font-size: 11px;
    font-size: 0.6875rem;
    line-height: 16px;
    font-weight: 300;
    text-transform: uppercase;
    width: 15rem !important;
    height: 2.0rem !important;
    border-radius: 2px;
    text-align: left;
}
.CreateServiceOrderColSubmitSearch ul li a:hover{
    background-color: white;
    border: 1px black solid;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    width: 5.5rem;
    height: 1rem;   
    display:table-cell;
    vertical-align: middle; 
    border-radius: 2px; 
}
.CreateServiceOrderColSubmitSearch li{    
    padding: 0;    
    display: block; 
    border-radius: 2px; 
}
.CreateServiceOrderColSubmitSearch  ul li a{    
    color: white;
    background-color: #58595b;
    text-decoration: none;
    text-transform: uppercase;    
    width: 5.5rem;
    height: 1rem;   
    display:table-cell;
    vertical-align: middle; 
    text-align: center;
    border-radius: 2px; 
}
.CreateServiceOrderColSubmitSearch{
    padding-right: 0px;
    margin-right: 0px;
    padding-top: 0;
    margin-top: 0;
    list-style: none;
    overflow: hidden;   
    text-align: center;
    height: 4rem;
    color: white;
    font-size: 11px;
    vertical-align: top;  
    border-radius: 2px;  
}
.SubMainTitle{
    font-size: 12px;
    color: #000000;
    font-weight: bold;
}
.MainTitle{
    padding-top: 2%;
    padding-bottom: 0px;
    font-size: 12px;
}
.rowForm{
    padding-bottom: 0px;
    height: 50px;
}
.ColArea{
    padding-bottom: 90px;
    height: 90px;  
}
.horizontal-menu-serviceorder{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;   
    text-align: center;
    height: 45px;
    color: white;
    font-size: 11px;
  }
.horizontal-menu-serviceorder ul li a:hover{
    background-color: white;
    border: 1px black solid;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    display:table-cell;
    vertical-align: middle; 
}
.horizontal-menu-serviceorder li{    
    padding: 1px 0;    
    display: block; 
}
.horizontal-menu-serviceorder  ul li a{    
    color: white;
    background-color: #58595b;
    text-decoration: none;
    text-transform: uppercase;     
    display:table-cell;
    vertical-align: middle; 
    text-align: center;
}
.CreateServiceOrder_label_DustBag {
    display: block;
    margin-bottom: 5px;
    font-size: 0.6rem  !important;
    line-height: 16px;
    font-weight: 300;
    text-transform: uppercase;
    width: 10rem !important;
}
.CreateServiceOrder_label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.6rem  !important;
    line-height: 16px;
    font-weight: 300;
    text-transform: uppercase;
    width: 80% !important;
}
.CreateServiceOrderTBSearch{
    font-size: 11px;
    font-size: 0.6875rem;
    line-height: 16px;
    font-weight: 300;
    text-transform: uppercase;
    width: 10% !important;
    height: 30px !important;
    border-radius: 2px;
}
/* input[type="text"], textarea{
    font-size: 11px;
    font-size: 0.6875rem;
    line-height: 16px;
    font-weight: 300;
    text-transform: uppercase;
    width: 10% !important;
    height: 30px !important;
    border-radius: 2px;

} */
textarea{   
    height: 70px !important;
    border-radius: 2px;
}
#tbOther{
    width: 40% !important;
    height: 20px;    
    border: 0px;
    border-bottom: 1px solid black;
    border-radius: 2px;
}

.form-check{
    padding-left: 0px;
}
.form-check-input{
    padding-right: 5px;
    margin-top: 3px;
    width: 15px;
    height: 15px;
    border-radius: 2px;
}
.spancheckbox-inline{   
    vertical-align:top;
    padding-left: 8px;
    padding-top: 1px;
    margin-top: 1px;
    font-size: 11px;
    text-transform: uppercase;
}
.text-lowercase{
    text-transform: lowercase;
}
#CreateServiceOrder{
    text-align: right;
    padding-top: 5px;
}
#CreateServiceOrder .MenuTitle{
    float: right;
}
.CreateServiceOrderColItemright{
    padding-left: 1px;
    text-align: left;
    margin-left: 1px;
}
.MenuTitle{
    width: 130px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;        
    padding-right: 5px;
    font-size: 11px;
    font-size: 0.6875rem;
    line-height: 16px;
    font-weight: 300;
    vertical-align: middle;
    justify-items: center;
    text-align: right;
    justify-content: center;
}
.gfh-logo{
    height: 20px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
}
.gfh-logo a img{
    height: 20px;
}
.CreateServiceOrder_Menu{
    width: 150px;
    text-decoration: none;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}
.CreateServiceOrder_Menu ul li{
    display: block;
    padding: 10px 0;   
}
.CreateServiceOrder_Menu ul li a{ 
    text-transform: uppercase;
    text-decoration: none;    
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    font-weight: bold;
}

.right{
    float: right;
}
.RowMenu{
    padding-top: 50px;
}