@charset "UTF-8";
.horizontal-menu-login{
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;   
  text-align: center;
  height: 45px;   
  color: white;
  font-size: 11px;

}
.horizontal-menu-login ul li a:hover{
  background-color: white;
  border: 1px black solid;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
    width: 405px; 
  height: 42px;   
  display:table-cell;
  vertical-align: middle; 
}
.horizontal-menu-login li{    
  padding: 1px 0;    
  display: block; 
    width: 405px; 
}
.horizontal-menu-login  ul li a{    
  color: white;
  background-color: #58595b;
  text-decoration: none;
  text-transform: uppercase;    
  height: 40px;
    width: 405px; 
  display:table-cell;
  vertical-align: middle; 
  text-align: center;

}
.textbox_login
{
  width:400px !important;
  background-color: white;
  height: 45px;
  border-radius: 2px;
}
#CustomerLoginForm h2, #RecoverPasswordForm h2, #CreateAccount h2 {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1.5px;
  margin: 0 !important;
  padding: 15px 0; }
@media only screen and (min-width: 50%) {
    #CustomerLoginForm h2, #RecoverPasswordForm h2, #CreateAccount h2 {
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 2px;
    margin-bottom: 11px;
    padding: 0px; } 
}
#CustomerLoginForm input, #CustomerLoginForm textarea, #RecoverPasswordForm input, #RecoverPasswordForm textarea, #CreateAccount input, #CreateAccount textarea {
  -webkit-appearance: none;
  box-shadow: none; }
#CustomerLoginForm [type="checkbox"], #RecoverPasswordForm [type="checkbox"], #CreateAccount [type="checkbox"] {
  -webkit-appearance: checkbox; }
#CustomerLoginForm [type="radio"], #RecoverPasswordForm [type="radio"], #CreateAccount [type="radio"] {
  -webkit-appearance: radio; }
#CustomerLoginForm [type="submit"], #RecoverPasswordForm [type="submit"], #CreateAccount [type="submit"] {
  margin-bottom: 12px; }
.uppercase {
    text-transform: uppercase;
}
/* Table of Contents
==================================================

    #Forms
    #Site Search
    #Custom Styling
    #Error Styling
==================================================
*/
/* ==========================================================================
#Forms
========================================================================== */
/*============================================================================
  Form scaffolding
    - Selectors setup for you to style form elements how you want
    - Focus, error, and disabled states are set to be extended
==============================================================================*/
input,
textarea,
select {
  border-radius: 0;
  max-width: 100%;
  width: 100%;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  height: 40px;
  padding: 0 20px;
  transition: border-color .3s ease-in-out;
  background-color: #fff;
  font-size: 10px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #000;
  box-shadow: none; 
  border-radius: 2px; 
}
  @media only screen and (min-width: 50%) {
    input,
    textarea,
    select {
      height: 50px;
      border-radius: 2px;
     } 
    }
  input::placeholder,
  textarea::placeholder,
  select::placeholder {
    color: rgba(0, 0, 0, 0.8); }
  input:focus,
  textarea:focus,
  select:focus {
    outline: 0;
    border-color: black; }
  input[disabled],
  textarea[disabled],
  select[disabled] {
    cursor: default;
    background-color: #000;
    border-color: #000; }

[type="checkbox"] {
  width: auto; 
  border-radius: 2px;
}

form [type="submit"] {
  height: 40px;
  width: 100% !important; 
}
@media only screen and (min-width: 100%) {
  form [type="submit"] {
    height: 50px; } 
}

textarea {
  min-height: 100px;
  height: auto;
  padding: 15px 25px;
  letter-spacing: 2px;
  font-weight: 300;
  border-radius: 2px; 
}

.form-group {
  margin-bottom: 20px;
  border-radius: 2px;
 }
/* .form-group.form-full > * {
    width: 50%; 
} */
.form-group.form-inline {
    /* display: flex; */
    flex-direction: row;
    align-items: stretch; 
}
.form-group.form-inline > * {
      align-self: center;
}
.text-small, .btn, .shopify-challenge__container .shopify-challenge__button, .categories-links .tag-link, .head-assurance p {
        font-size: 14px;
        font-size: 0.875rem; 
}
/* ==========================================================================
#Button Wide
========================================================================== */
.SignIn { 
  font-weight: normal; 
  font-size: 16px;
  text-align: left;
}
#divFormLogin {
     width: 100% !important;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
    }
.btn-wide {
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100% !important; }
    @media only screen and (min-width: 100%) {
      .btn-wide {
        padding-left: 3rem;
        padding-right: 3rem; } }
/* ==========================================================================
#Button Secondary
========================================================================== */
.btn-secondary {
    color: #58595b;
    background-color: #fff;
    border: 0.5px solid #58595b;
    height: 40px;
    line-height: 40px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 11px;
    letter-spacing: 1px;
    transition: all .3s ease-in-out; }
    @media only screen and (min-width: 50%) {
.btn-secondary {
        height: 50px;
        line-height: 50px; } }
.btn-secondary:hover {
      background-color: #58595b;
      color: #fff; }
      button,
      html [type="button"],
      [type="reset"],
      [type="submit"] {
        -webkit-appearance: button; }
.login-exisiting {
  height: 100%;
  background-color: whitesmoke;
  padding: 1rem; }
  .login-exisiting h2 {
    margin-top: 0; }
          
#RecoverPassword, .registerLink {
  color: #000;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.5px; }