@font-face {
    font-family: 'GothamBold';
    src: local('GothamBold'), url(GothamBold.ttf) format('truetype');
}
@font-face {
    font-family: 'GothamBook';
    src: local('GothamBook'), url(GothamBook.ttf) format('truetype');
}
font{
    font-family: "GothamBold", sans-serif;
}
.rowForm{
    padding-bottom: 0px;
    margin-bottom: 0px;
    height: 30px;
}
.horizontal-menu{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;   
    text-align: center;
    height: 45px;    
    display: block;
  }
  /* .horizontal-menu ul li a{
    color: white;
  } */
  .horizontal-menu ul li a:hover{
    background-color: white;
    border: 1px black solid;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    width: 450px;
    height: 42px;   
    display:table-cell;
    vertical-align: middle; 
  }
  /* .horizontal-menu ul li{    
    display:table-row;
    vertical-align: middle;
    list-style-type: none;
  } */
  .horizontal-menu li{    
    padding: 1px 0;    
    display: block; 
  }
  .horizontal-menu  ul li a{    
    color: white;
    background-color: #58595b;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    width: 450px;
    height: 40px;   
    display:table-cell;
    vertical-align: middle; 
  }
/* label {
    display: block;
    margin-bottom: 5px;
    font-size: 11px;
    font-size: 0.6875rem;
    line-height: 16px;
    font-weight: 300;
    text-transform: uppercase;
    width: 80% !important;
}
input[type="text"],textarea{
    font-size: 11px;
    font-size: 0.6875rem;
    line-height: 16px;
    font-weight: 300;
    text-transform: uppercase;
    width: 95% !important;
    height: 40px;
} */
textarea{   
    height: 70px !important;
}
#tbOther{
    width: 40% !important;
    height: 20px;    
    border: 0px;
    border-bottom: 1px solid black;
}
input[type="checkbox"] { 
    width: 5% !important;
    text-align: left;
}
.form-check{
    padding-left: 0px;
}
.form-check-input{
    padding-right: 5px;
    margin-top: 3px;
}
.spancheckbox-inline{   
    vertical-align:top;
    padding-left: 8px;
    padding-top: 1px;
    margin-top: 1px;
    font-size: 11px;
    text-transform: uppercase;
}
.text-lowercase{
    text-transform: lowercase;
}
#Service_Order{
    text-align: right;
    padding-top: 5px;
}
#Service_Order .MenuTitle{
    float: right;
}
.ColItem{
    padding: 15px; 
}
.ColItemright{
    padding-left: 1px;
    text-align: left;
    margin-left: 1px;
}
.ColItemleft{
    padding-right: 1px;
    text-align: right;
    margin-right: 1px;
}
.MenuTitle{
    width: 130px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;        
    padding-right: 5px;
    font-size: 11px;
    font-size: 0.6875rem;
    line-height: 16px;
    font-weight: 300;
    vertical-align: middle;
    justify-items: center;
    text-align: right;
    justify-content: center;
}
.gfh-logo{
    height: 20px;
    padding-top: 20px;
    display: flex;   
    justify-content: center;
    position: sticky;
    text-align: center;
}
.gfh-logo a img{
    height: 20px;
    text-align: center;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* .imgLogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
} */
.Menu{
    width: 150px;
}
.Menu ul li{
    display: block;
    padding: 10px 0;   
}
.Menu ul li a{ 
    text-transform: uppercase;
    text-decoration: none;    
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    font-weight: bold;
}
.Menu.left{
    float: left;
    margin-right: 17px;
}
.right{
    float: right;
}
.RowMenu{
    padding-top: 8%;
}

.collection-text{
    font-size: 1rem;
    font-family: "GothamBold";
}

.collection-text:hover{
    color: black;
}

.sub-collection-text{
    font-size: 0.9rem;
    font-family: "GothamBold";
    line-height: 50% !important;
    /* color:  #8d8d8d */
}



